venv/
__pycache__/
*.pyc
.DS_Store
nodes.json
nodes.enc
# debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/pve-center/
debian/tmp/
*.deb
*.buildinfo
*.changes
*.ddeb.omo/
